/*------------------------begin people node page--------------------*/

article.node {
    border-top: 1px solid #bbb;
}

.node-people-form label {
    color: #444;
}

.node-people .field-name-field-people-category{
  padding-top: 0px;
  padding-bottom: 0px;
}

.node-people .field-name-field-people-category a{
    color: #333;
}

.node-people .field-name-field-people-position {
  color: #990000;
  font-size: 1.4em;
}

/* clearing float following postal float */
.node-people .field-name-field-people-postal + div {
  clear:both;
}

#edit-field-people-title,
#edit-field-people-first-name,
#edit-field-people-middle-initial,
#edit-field-people-last-name {
    float: left;
    height: 8em;
    padding-right: 1em;
}

#edit-field-people-title select {
    height: 3em;
    margin-top: 0.4em;
}

#edit-field-people-title select:hover {
    cursor: pointer;
}

#edit-field-tags input[type="text"] {
    width: 100%;
}

#edit-field-people-image input[type="text"] {
    width: 100%;
}

#edit-field-tags,
#edit-field-people-website {
  clear: both;
}

#edit-field-people-street,
#edit-field-people-email,
#edit-field-people-city,
#edit-field-people-state,
#edit-field-people-postal,
#edit-field-people-phone {
  /*float:left;*/
  width: 35%;
  /*margin-right: 2em;*/
}

#edit-field-tags,
#edit-field-people-affiliation,
#edit-field-people-other-affiliations,
#edit-field-people-image,
#edit-field-people-bio,
#edit-field-people-cv {
    border-bottom: 1px solid #ccc;
}

#edit-field-tags {
    border-top: 1px solid #ccc;
}

/*------------------------end people node page--------------------*/

.views-field.views-field-field-people-image.people-image {
  float: right;
}

.view-display-id-people .views-row {
  clear: both;
  margin-bottom: 1em;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.views-label.views-label-field-people-email {
  border-bottom: 1px solid #CEC9BB;
  margin-bottom: 3px;
}

.view-content > h3 {
 /* background-color: #E9E8DD;
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0));
  border: 1px solid #CCCCCC;
  color: #4F4F4F;
  font-family: inherit;
  font-weight: 600;
  padding: 2px;
  text-align: center;
  clear: both;
    margin-bottom: 0;*/
  color: #444;
  font-weight: bold;
  display: inline-block;
  padding-right: 100px;
  border-bottom: 1px solid #ddd;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-title.profile-title.h2 {
  font-size: 1.1em;
}

.views-field.views-field-field-people-bio.profile-about {
  padding-bottom: 10px;
}

.views-field.views-field-field-people-email {
  color: #333333;
}

.views-field.views-field-field-people-website {
  color: #333333;
  padding: 0 5px;
}

.views-field.views-field-field-people-position.profile-position {
  width: 50%;
}

.people-profile {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  padding-bottom: 10px;
  min-width: 525px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-title.profile-title.h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

.view-display-id-people .views-row {
  background: none repeat scroll 0 0 #EEEEEE;
  padding: 10px;
}

.field-name-field-people-image {
  height: auto;
  max-width: 100%;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-field-people-position.profile-position {
  width: 50%;
}

.views-field.views-field-field-people-position {
    font-style: italic;
    margin-bottom: 1em;
    color: rgb(36,109,73);
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

.views-field-field-people-image {
    float: left;
    margin-right: 0.5em;
}

/*///////////////////////////////////////////////////*/
/*/////////////////// People Grid View /////////////////////*/
/*@media all and (min-width: 980px) and (max-width: 1219px) {
    .view-display-id-people_grid .views-row {
        width: 31.6%;
    }
}

@media all and (min-width: 980px) {
    .view-display-id-people_grid .views-row {
        float: left;
    }
}

@media all and (min-width: 740px) and (max-width: 979px) {
    .view-display-id-people_grid .views-row {
        width: 46.8%;
    }

    .view-display-id-people_grid .views-row-odd {
        float: left;
    }

    .view-display-id-people_grid .views-row-even {
        float: right;
    }
}*/

.view-display-id-people_grid .views-row {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
}

.view-display-id-people_grid .views-row {
  margin: 0.25em;
  padding: 0.5em;
  height: 215px;
}

/*///////////////////////////////////////////////////*/
/*/////////////////// People Node View /////////////////////*/
.node-people .field-name-field-people-image {
    float: left;
    margin: 10px 20px 20px 0;
}

.field-name-field-people-image + .field:not(.field-name-field-people-bio) {
    clear: both;
}

.field-name-field-people-bio + .field {
    clear: both;
}

.field-name-field-people-title-category {
    float: left;
    margin-left: 1em;
}

.field-name-field-people-title-category a {
    display: inline-block;
    line-height: 40px;
    font-size: 1.25em;
    font-style: italic;
    color: rgba(52, 52, 52, 0.6);
}

.field.field-type-taxonomy-term-reference {
    margin: 0;
}

.node-people .field h3.field-label {
  font-size: 1.071em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.region-inner .tabs,
.region-inner .block {
    clear: both;
}

.field.field-name-field-people-expertise,
.field.field-name-field-people-other-affiliations,
.field.field-name-field-people-affiliation,
.field.field-name-field-people-interdepartmental,
.field.field-name-field-people-teaching,
.field.field-name-field-people-major,
.field.field-name-field-people-advisor,
.field.field-name-field-people-education,
.field.field-name-field-people-cv,
.group-contact {
    background: rgba(255,255,255,0.5);
    border: 1px solid #ddd;
}

.field.field-name-field-people-expertise .field-label,
.field.field-name-field-people-other-affiliations .field-label,
.field.field-name-field-people-affiliation .field-label,
.field.field-name-field-people-interdepartmental .field-label,
.field.field-name-field-people-teaching .field-label,
.field.field-name-field-people-major .field-label,
.field.field-name-field-people-advisor .field-label,
.field.field-name-field-people-education .field-label,
.field.field-name-field-people-cv .field-label {
    width: 150px;
    padding: 5px;
    color: #666;
    display: inline-block;
    font-weight: bold;
}

.field.field-name-field-people-expertise .field-items,
.field.field-name-field-people-expertise .links.inline,
.field.field-name-field-people-other-affiliations .field-items,
.field.field-name-field-people-affiliation .field-items,
.field.field-name-field-people-interdepartmental .field-items,
.field.field-name-field-people-teaching .field-items,
.field.field-name-field-people-major .field-items,
.field.field-name-field-people-advisor .field-items,
.field.field-name-field-people-education .field-items,
.field.field-name-field-people-cv .field-items {
    padding: 5px;
    border-left: 2px solid #bbb;
    display: inline-block;
}

.field.field-name-field-people-expertise .field-item,
.field.field-name-field-people-expertise .links.inline > li,
.field.field-name-field-people-other-affiliations .field-item,
.field.field-name-field-people-affiliation .field-item,
.field.field-name-field-people-interdepartmental .field-item,
.field.field-name-field-people-teaching .field-item,
.field.field-name-field-people-major .field-item,
.field.field-name-field-people-advisor .field-item,
.field.field-name-field-people-education .field-item,
.field.field-name-field-people-cv .field-item {
    display: block;
}

.group-contact {
    padding: 0 20px 20px 20px;
}

.group-contact > legend {
    padding: 10px;
    color: #666;
    font-weight: bold;
}

.group-contact .field {
    color: #333;
    margin-bottom: 10px;
}

.group-contact .field.field-name-field-people-street,
.group-contact .field.field-name-field-people-city,
.group-contact .field.field-name-field-people-state,
.group-contact .field.field-name-field-people-postal {
    display: inline-block;
    margin-bottom: 0;
}

.field.field-name-field-people-expertise .links.inline > li {
  font-size: 1.071em;
}


.field.field-name-field-people-bio {
    margin: 10px 0;
}