/*------------------------begin people node page--------------------*/

.node-people-form label {
    color: #444;
}

.node-people {
  width: 100%;
}

.node-people .field {
  padding: 5px 5px 5px 0px;
}

.node-people .field-name-field-people-category{
  padding-top: 0px;
  padding-bottom: 0px;
}

.node-people .field-name-field-people-category a{
    color: #333;
}

.node-people .field-name-field-people-position {
  color: #990000;
  font-size: 1.4em;
}

/* Aligning Address fields */
.node-people .field-name-field-people-street,
.node-people .field-name-field-people-city,
.node-people .field-name-field-people-state,
.node-people .field-name-field-people-postal {
  float: left;
  padding-right: 5px;
}

/* clearing float following postal float */
.node-people .field-name-field-people-postal + div {
  clear:both;
}

#edit-field-people-title,
#edit-field-people-first-name,
#edit-field-people-middle-initial,
#edit-field-people-last-name {
    float: left;
    height: 8em;
    padding-right: 1em;
}

#edit-field-people-title select {
    height: 3em;
    margin-top: 0.4em;
}

#edit-field-people-title select:hover {
    cursor: pointer;
}

#edit-field-tags input[type="text"] {
    width: 100%;
}

#edit-field-people-image input[type="text"] {
    width: 100%;
}

#edit-field-tags,
#edit-field-people-website {
  clear: both;
}

#edit-field-people-street,
#edit-field-people-email {
  float:left;
  width: 35%;
  margin-right: 2em;
}

#edit-field-people-state{
  clear: both;
  float: left;
  width: 35%;
  margin-right: 2em;
}

#edit-field-people-city,
#edit-field-people-phone{
  overflow:auto;
}

#edit-field-tags,
#edit-field-people-affiliation,
#edit-field-people-other-affiliations,
#edit-field-people-image,
#edit-field-people-bio,
#edit-field-people-cv {
    border-bottom: 1px solid #ccc;
}

#edit-field-tags {
    border-top: 1px solid #ccc;
}
/*------------------------end people node page--------------------*/

.views-field.views-field-field-people-image.people-image {
  float: right;
}

.view-display-id-people .views-row {
  clear: both;
  margin-bottom: 1em;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.views-label.views-label-field-people-email {
  border-bottom: 1px solid #CEC9BB;
  margin-bottom: 3px;
}

.view-content > h3 {
  background-color: #E9E8DD;
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0));
  border: 1px solid #CCCCCC;
  color: #4F4F4F;
  font-family: inherit;
  font-weight: 600;
  padding: 2px;
  text-align: center;
  clear: both;
    margin-bottom: 0;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-title.profile-title.h2 {
  font-size: 1.1em;
}

.views-field.views-field-field-people-bio.profile-about {
  padding-bottom: 10px;
}

.views-field.views-field-field-people-email {
  color: #333333;
}

.views-field.views-field-field-people-website {
  color: #333333;
  padding: 0 5px;
}

.views-field.views-field-field-people-position.profile-position {
  width: 50%;
}

.people-profile {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  padding-bottom: 10px;
  min-width: 525px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-title.profile-title.h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

.view-display-id-people .views-row {
  background: none repeat scroll 0 0 #EEEEEE;
  padding: 10px;
}

.field-name-field-people-image {
  height: auto;
  max-width: 100%;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
  min-width: 480px;
}

.view.view-people.view-id-people, table {
  border: medium none !important;
}

.views-field.views-field-field-people-position.profile-position {
  width: 50%;
}

.views-field.views-field-field-people-position {
    font-style: italic;
    margin-bottom: 1em;
}

.views-field.views-field-field-people-position.profile-position {
  font-size: 1.1em;
}

.views-field-field-people-image {
    float: left;
    margin-right: 0.5em;
}

/*///////////////////////////////////////////////////*/
/*/////////////////// People Node View /////////////////////*/
.node-people .field-name-field-people-image {
    float: left;
}

.field-name-field-people-image + .field:not(.field-name-field-people-bio) {
    clear: both;
}

.field-name-field-people-bio + .field {
    clear: both;
}
