.views-field.views-field-field-people-image.people-image {
    float: right;
}

.views-field.views-field-field-people-email {
    clear: both;
}

.view-display-id-people .views-row{
    clear:both;
    margin-bottom: 1em;
}

view.view-people.view-id-people.view-display-id-people.profile-wrapper {
    min-width: 480px;
}
.view-content > h3 {
    background-color: #E9E8DD;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0));
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #4F4F4F;
    font-family: inherit;
    font-weight: 600;
    padding: 2px;
    text-align: center;
    clear:both;
}
.view.view-people.view-id-people, table {
    border: medium none !important;
    max-width: 740px;
    min-width: 480px;
}
.view.view-people.view-id-people, table {
    border: medium none !important;
}
.views-field.views-field-title.profile-title.h2 {
    font-size: 1.1em;
}
.views-field.views-field-field-people-bio.profile-about {
    float: right;
    width: 65%;
    padding-bottom: 10px;
}

.views-field.views-field-field-people-email {
    background-color: #E9E8DD;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0));
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    float: right;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 16px;
    font-weight: bold;
    height: 70px;
    padding: 0 5px;
    width: 30%;
}
.first{
    line-height: .5;
}
.contact.h2{
    border-bottom: 1px solid #C8C2A7;
    color: #5C5C5C;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 1px 2px #FFFFFF;
}
.website.h2 {
    border-bottom: 1px solid #C8C2A7;
    color: #5C5C5C;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 1px 2px #FFFFFF;
}

.views-field.views-field-field-people-website {
    background-color: #E9E8DD;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0));
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    float: right;
    height: 70px;
    padding: 0 5px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
}

.views-field.views-field-field-people-position.profile-position {
    width: 50%;
}
.views-field.views-field-field-people-position {
}

.views-field.views-field-field-people-position.profile-position {
    font-size: 1.1em;
}
.people-profile {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-width: 525px;
}
.views-view-grid tbody tr {
    border-bottom: 2px solid #CCCCCC;
}